html {
    margin: 0px;
    
}

header {
    margin-top: 0px;
    top: 0px;
    position: fixed;
    height: 64px;
    display: inline-flex;
    width: 100%;
    background-color: white;
}

.logo {
    display: inline-flex;
    margin-left: 24px;
}

.icon {
    height: 48px;
}

.navbar {
    display: inline-flex;
    list-style-type: none;
    justify-content: end;
    align-items: stretch;
    margin: 0px;
    align-items: center;
    width: 100%;
    margin-right: 24px;
}

.navbar a {
    display: block;
    margin-left: 16px;
    font-size: 15px;
}

.navbarImg {
    display: none;
}

@media only screen and (max-width: 480px) {
    h4 {
    display: none;
    }

    .navbar {
    display: none;
    }

    .navbarImg {
    display: inline-flex;
    justify-content: end;
    width: 100%;
    margin-right: 24px;
    height: 48px;
    width: 100%; 
    }

    a {
    flex-grow: 1;
    margin: auto;
    text-align: center;
    }
    }


.left {
    width: 60%;
    margin: 32px 24px;
}

.right {
    width: 40%;
}

.left img {
    width: 100%;
    height: auto;

}

.smallFont {
    font-size: 10px;
}

.mobile {
    display: none;
}

.banner {
    margin-top: 65px;
    display: inline-flex;
    background-color: rgb(199, 198, 198);
}


#describe {
    display: inline-block;
    flex-direction: column;
    align-content: center;
}

#describe h2 {
    font-size: 30px;
    margin-top: 0px;
}

.button {
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    text-decoration: none;
    margin: 0px;
}


@media only screen and (max-width: 480px) {
    .left {
        margin: 0px;
        width: 100%;
    }

    .right {
        width: 100%;
        margin-bottom: 32px;
    }

    .banner {
    margin: 65px 0px 0px 0px;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(199, 198, 198);
    }

    .bannerImg {
    width: 100%;
    height: auto;
    margin: 0px;
    }

    #describe {
    display: inline-flex;
    flex-direction: column;
    }

    #describe h2 {
    font-size: 32px;
    margin: 32px 16px 0px 16px;
    }

    #describe p {
    margin: 32px 16px 0px 16px;
    }

    #describe a {
    margin: 24px 16px 0px 16px;
    
    }

    .button {
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding-top: 8px;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
    }
}


.main {
    display: inline-flex;
    width: 100%;
}

.right {
    align-content: center;
}
.part {
    display: inline-flex;
}

.part img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}

.part h5, p {
    margin:0px 0px 8px;
}

.part a {
   font-size: 10px;
   margin: 0;
}

.about {
    align-content: center;
}

@media only screen and (max-width: 480px) {
    .mobile {
        display: block;
    }

    #website {
        display: none;
    }

    .part {
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        margin: 16px 16px;
    }

    .part img {
        width: 100%;
        margin: 0;
    }

    .about {
        margin-top: 12px;
    }

    .about h5 {
        font-size: 18px;
    }

    .about p {
        font-size: 12px;
    }

    .about a {
        font-size: 12px;
        color: blue;
    }
  
}

.startCourse {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(199, 198, 198);
}

.start {
    text-align: center;
    width: 100%;
    margin-top: 32px;

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px 40px 0px 72px;
}

.course {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    margin: 0px 32px 32px 0px;
    background-color: white;
}

.course h5 {
    margin: 16px 0px 8px 16px;
    font-size: 20px;
}

.course p{
    margin: 0px  0px 8px 16px;
}

@media only screen and (max-width: 480px) {
    .startCourse {
        background-color: white;
        margin-top: 0px;
    }

    .list {
        display: inline-flex;
        flex-direction: column;
        margin: 0px 0px 24px 0px;
    }

    .course {
        width: 100%;
        background-color: rgb(199, 198, 198);
        margin-bottom: 8px;
    }

}


